<style>
    h1, h3 {
        text-align: center;
    }

    img {
        width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<img src="~/images/denied.png">
<h1>Access Denied</h1>
<h3>You do not have permission to view this page.</h3>
<h3>Please check your credentials and try again.</h3>