@model OnlineFridge.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>
<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<form asp-action="Create" class="row">
    <div class="col-md-4">
        <h6>General Information</h6>
        <hr />
        <div class="form-group">
            <label asp-for="foodCategory" class="control-label"></label>
            <select asp-for="foodCategory" class="form-control"
                asp-items="Html.GetEnumSelectList<FoodCategory>()"></select>
            <span asp-validation-for="foodCategory" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="recipeName" class="control-label"></label>
            <input asp-for="recipeName" class="form-control" />
            <span asp-validation-for="recipeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="recipeDesc" class="control-label"></label>
            <input asp-for="recipeDesc" class="form-control" />
            <span asp-validation-for="recipeDesc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="prepTime" class="control-label"></label>
            <input asp-for="prepTime" class="form-control" />
            <span asp-validation-for="prepTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="cookTime" class="control-label"></label>
            <input asp-for="cookTime" class="form-control" />
            <span asp-validation-for="cookTime" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <h6>Ingredients</h6>
        <hr />
        <div class=row>
            <button id="addRow" type="button" onclick="addIngredient()" class="btn btn-success col mx-2">Add Ingredient</button>
        </div>
        <hr />
        <div id="ingredientsList" class=row></div>
    </div>
    <div class="col-md-4">
        <h6>Steps</h6>
        <hr />
        <div class=row>
            <button id="addRow" type="button" onclick="addStep()" class="btn btn-success col mx-2">Add Step</button>
        </div>
        <hr />
        <div id="stepsList" class=row></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<link rel="stylesheet" href="~/lib/jquery-ui-1.13.0.custom/jquery-ui.min.css">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui-1.13.0.custom/jquery-ui.min.js"></script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var id=0;
    var ingreds = [];
    $.getJSON("getIngredients", function(data) {
        for (var i=0; i<data.length; i++) {
            ingreds.push(data[i]);
        }
    });
    console.log(ingreds);

    function addIngredient() {
        var html = '';
        html += '<div id="ingredient" class="form-group">';
        html += '<input type="number" class="form-control" style="width: 20%; display: inline;" />';
        html += '<input id="ing' + id + '" type="text" class="ingredient-input form-control" style="width: 60%; display: inline;" />';
        html += '<button id="removeRow" type="button" class="btn btn-danger" style="width: 16%; display: inline;" ><i class="fa fa-trash"></i></button>';
        html += '</div>'

        $('#ingredientsList').append(html);
        $('#ing' + id).autocomplete({
            source: ingreds
        });
        id++;
    }

    function addStep() {
        var html = '';
        html += '<div id="step" class="form-group">';
        html += '<input id="ing' + id + '" type="text" class="form-control" style="width: 80%; display: inline;" />';
        html += '<button id="removeRow" type="button" class="btn btn-danger" style="width: 16%; display: inline;" ><i class="fa fa-trash"></i></button>';
        html += '</div>'

        $('#stepsList').append(html);
        id++;
    }

    $(document).on('click', '#removeRow', function () {
        $(this).closest('#ingredient').remove();
    });

    $(document).on('click', '#removeRow', function () {
        $(this).closest('#step').remove();
    });
</script>